/*Import de la police depuis google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*On enlève les marges de la page entière*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/*On met l'image de fond*/
#Home{
    background-image: url(./Images/backgroundstarfield.gif);
    font-family: 'Orbitron', sans-serif;
}
img{
    cursor:pointer;
}
/*flexboxes*/
header{
    margin : 15px;
    display: flex; /*J'active la fonction flexbox*/
    justify-content: space-between;
    align-items: center;
}

header i{
    color : white;
    font-size : 40px
}

header img{
    width: 60px;
    height: 50px;
}

h1{
    color : white;
    text-align: center;
}

.grid-images {
    display: grid;
    margin: auto 50px;
    grid-template-columns: repeat(6, calc(90vw/6));
    grid-template-rows: repeat(6, calc(80vh/6));
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    }

    .info-bulle{
        background-color: white;
        border: 1px #e93e08 solid ;
        border-radius: 8px;
        color: greenyellow;
        height: 60px;
        width: 180px;
    }


    #Bespin{
        grid-area: 3 / 2 / 4 / 3; 
    }
    #Bespin>img { 
        
        height: 117px;
        width: 117px;
    }

    #Coruscant{
        grid-area: 5 / 4 / 6 / 5;
    }

    #Coruscant >img { 
        transform: rotate(-20deg);
        margin-top: 60px;
        margin-left: 60px;
        height: 137px;
        width: 137px; 
    }

    #Endor {
        grid-area: 4 / 5 / 5 / 6; 
    }


    #Endor >img { 
        transform: rotate(-15deg);
        height: 80px;
        width: 80px;
    }
    
    #Felucia{
        grid-area: 1 / 5 / 2 / 6; 
    }

    
    #Felucia >img { 
        transform: rotate(30deg);
        margin-right: 50px;
        margin-top: 30px;
        height: 100px;
        width: 100px;
    }
    

    #Geonosis{
    grid-area: 2 / 6 / 3 / 7; 
    }


    #Geonosis>img { 
        transform: rotate(15deg);
        height: 244px;
        width: 244px;
    }

    #Hoth{
       grid-area: 2 / 3 / 3 / 4;

    }

    #Hoth > img { 
        transform: rotate(230deg);
        margin-left: 150px;
        height: 57px;
        width: 57px;
    }


    #Mustafar{
        grid-area: 5 / 6 / 6 / 7;
    }

    #Mustafar>img { 
        transform: rotate(-30deg);
        margin-left: 120px;    
        height: 125px;
        width: 125px;
    }

    #Naboo{
        grid-area: 1 / 1 / 2 / 2; 
    }


    #Naboo>img { 
        margin-bottom: 30px;
        height: 249px;
        width: 249px;
    }

    #Scarif{
        grid-area: 4 / 3 / 5 / 4; 
    }


    #Scarif > img{ 
        margin-top: 70px;
        height: 125px;
        width: 135px;
    }

    #Tatooine{
    grid-area: 5 / 1 / 6 / 2; 
    }

    #Tatooine>img { 
        transform: rotate(15deg);
        height: 167px;
        width: 167px;
    }


/*PAGE 2*/
#Cards{
    background-image: url(./Images/fond\ ecran\ 2.jpg);
    background-size: cover;
    font-family: 'Orbitron', sans-serif;
}

section{
    width: 100vw;
    height: 90vh;
    display: flex;
}

.div_left{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.div_right{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div_right>img{
    transform: translateY(0px);
    animation: float 6s ease-in-out infinite;
}

.infos{
    background-color: rgba(0, 0, 0, 0.75);
    border: 2px solid #e93e08;
    color: white;
    border-radius: 100px;
    text-align: center;
    padding: 10px;
}

#prez{
    width: 80%;
    height: 40%;
}

#desc{
    margin-top: 40px;
}

#data{
    width: 80%;
    height: 60%;
}

@keyframes float{
    0% {transform: translateY(0px)}
    50% {transform: translateY(-20px)}
    100% {transform: translateY(0px)}
}